In [38]:
import pandas as pd
import numpy as np

## Data loading

In [49]:
date_parser = lambda x: pd.to_datetime(x, format = '%Y-%m-%d %H:%M:%S', exact=False, errors='coerce')
data = pd.read_csv('20200224_data_exploration_set.csv.gz', true_values=['t'], false_values=['f'],
                   dtype={'id': np.str, 'number': np.str, 'point_of_service_id': np.str, 'courier_id': np.str, 'courier_company_id': np.str, 
                          'recipient_customer_data_id': np.str, 'returning_point_of_service_id': np.str, 'sender_customer_data': np.str, 
                          'pos_dispatch_note_id': np.str, 'delivery_data_id': np.str, 'posting_data_id': np.str, 'child_document': np.str,
                          'last_dispatched_from_point_of_service_id': np.str, 'last_picked_up_from_point_of_service_id': np.str, 
                          'parcel_id': np.str, 'id.1': np.str, 'courier_company_id.1': np.str, 'courier_id.1': np.str, 
                          'recipient_customer_data_id.1': np.str, 'sender_customer_data_id.1': np.str, 'delivery_data_id.1': np.str,
                          }, 
                   parse_dates=['date_created', 'admission_date', 'max_pickup_date', 'ready_for_pickup_date', 'price_calculation_date', 
                                'delivery_date', 'pickup_date', 'registered_in_transit_date', 'dispatch_note_created_date', 'announcement_date', 
                                'ready_to_return_date', 'courier_updated_on', 'max_pickup_date.1'], 
                   date_parser=date_parser
               )

# not even a single value is filled
data = data.drop(columns=['insurance_option', 'size', 'returning_point_of_service_id', 'sender_customer_data_id', 'delivery_data_id', 
                          'courier_conditional_admission', 'posting_data_id', 'pickup_customer_data_id', 'returning_point_of_service_id.1', 
                          'posting_data_id.1',  'estimated_point_delivery_date', 'courier_point_delivery_date', 'price_calculation_date.1', 
                          'insurance_amount'])

data.columns = data.columns.str.replace('.1', '_row')

In [50]:
data.shape

(1810406, 65)

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1810406 entries, 0 to 1810405
Data columns (total 65 columns):
class                                       object
id                                          object
date_created                                datetime64[ns, UTC]
number                                      object
state                                       object
admission_date                              datetime64[ns, UTC]
max_pickup_date                             datetime64[ns]
ready_for_pickup_date                       datetime64[ns, UTC]
price_list                                  object
price_calculation_date                      datetime64[ns, UTC]
cash_on_delivery                            object
cash_on_delivery_amount                     float64
dispatch_type                               object
payment_place                               object
child_document                              object
point_of_service_id                         object
courier_id                                  object
courier_company_id                          object
recipient_customer_data_id                  object
pos_dispatch_note_id                        object
delivery_date                               datetime64[ns, UTC]
cash_on_delivery_paid                       object
last_dispatched_from_point_of_service_id    object
ready_for_dispatch_date                     object
target_state                                object
pickup_date                                 datetime64[ns, UTC]
origin                                      object
registered_in_transit_date                  datetime64[ns, UTC]
dispatch_note_created_date                  datetime64[ns, UTC]
last_picked_up_from_point_of_service_id     object
announcement_date                           datetime64[ns, UTC]
force_online_payment                        object
attention_fragile                           object
non_standard_size                           object
confirm_trigger                             object
ready_to_return_date                        datetime64[ns, UTC]
dtype                                       object
id_row                                      object
insurance_option_row                        object
courier_conditional_admission_row           object
expected_admission                          object
cash_on_delivery_row                        object
cash_on_delivery_amount_row                 float64
dispatch_type_row                           object
parcel_value                                float64
price_list_row                              object
target_state_row                            object
courier_updated_on                          datetime64[ns, UTC]
parcel_id                                   object
courier_company_id_row                      object
courier_id_row                              object
recipient_customer_data_id_row              object
sender_customer_data_id_row                 object
delivery_data_id_row                        object
payment_place_row                           object
max_pickup_date_row                         datetime64[ns, UTC]
charge_for_pickup                           object
update_source                               object
update_state                                object
size_row                                    object
pickup_code_input_method                    object
origin_row                                  object
force_online_payment_row                    object
attention_fragile_row                       object
non_standard_size_row                       object
dtypes: datetime64[ns, UTC](12), datetime64[ns](1), float64(3), object(49)
memory usage: 897.8+ MB

In [52]:
data.head()

,class,id,date_created,number,state,admission_date,max_pickup_date,ready_for_pickup_date,price_list,price_calculation_date,...,max_pickup_date_row,charge_for_pickup,update_source,update_state,size_row,pickup_code_input_method,origin_row,force_online_payment_row,attention_fragile_row,non_standard_size_row
0,IncomingParcelInitialization,59818192,2019-09-02 02:05:05.471000+00:00,0000000059575318,CONFIRMED,NaT,NaT,NaT,NaN,NaT,...,NaT,NOTIFICATOR,NaN,NaN,B,NaN,NaN,False,False,False
1,ParcelAnnouncement,59818193,2019-09-02 02:05:05.785000+00:00,0000000059575319,CONFIRMED,NaT,NaT,NaT,NaN,NaT,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False
2,IncomingParcelInitialization,59818194,2019-09-02 02:55:03.316000+00:00,0000000059575320,CONFIRMED,NaT,NaT,NaT,NaN,NaT,...,NaT,NOTIFICATOR,NaN,NaN,B,NaN,NaN,False,False,False
3,ParcelAnnouncement,59818195,2019-09-02 02:55:03.331000+00:00,0000000059575321,CONFIRMED,NaT,NaT,NaT,NaN,NaT,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False
4,IncomingParcelInitialization,59818196,2019-09-02 02:55:03.536000+00:00,0000000059575322,CONFIRMED,NaT,NaT,NaT,NaN,NaT,...,NaT,NOTIFICATOR,NaN,NaN,B,NaN,NaN,False,False,False

## Data analysis

In [56]:
data['courier_company_id'].value_counts()

3     49121
1       809
11       37
Name: courier_company_id, dtype: int64

In [58]:
data['parcel_id'].value_counts()

8818925    24
9113822    21
9168867    18
1896       18
9334616    16
           ..
1233494     1
7322965     1
1852784     1
5530708     1
3813179     1
Name: parcel_id, Length: 308889, dtype: int64

In [93]:
data.loc[data['parcel_id']=='9168867']['id'].value_counts()

60316478    1
60286637    1
60295779    1
60287727    1
60286200    1
60300137    1
60293001    1
60295411    1
60292140    1
60336759    1
60139216    1
60378808    1
60378452    1
60139215    1
60363110    1
60302829    1
60378507    1
60300138    1
Name: id, dtype: int64

In [66]:
data.loc[data['parcel_id']=='9334616'].sort_values(['date_created'])['dtype']

912272     IncomingParcelInitializationRow
912273               ParcelAnnouncementRow
912409                 CourierAdmissionRow
912424                           PickupRow
1057716         CourierParcelDataUpdateRow
1057730         CourierParcelDataUpdateRow
1057744         CourierParcelDataUpdateRow
1057930         CourierParcelDataUpdateRow
1057992         CourierParcelDataUpdateRow
1058075         CourierParcelDataUpdateRow
1058124         CourierParcelDataUpdateRow
1333285         CourierParcelDataUpdateRow
1352723         CourierParcelDataUpdateRow
1381370         CourierParcelDataUpdateRow
1404326         CourierParcelDataUpdateRow
1404566                             PodRow
Name: dtype, dtype: object

In [89]:
data['id'].value_counts().loc[data['id'].value_counts().sort_values(ascending=False)==6]

60592871    6
60273238    6
59877001    6
60198683    6
60530526    6
           ..
60506020    6
60807033    6
61120398    6
61176072    6
59928100    6
Name: id, Length: 5662, dtype: int64

In [90]:
data['parcel_id'].loc[data['id_row'].isin(data.loc[data['id']=='60198683']['id_row'])].value_counts()

9258800    1
9215989    1
9258996    1
9257216    1
9257546    1
9260611    1
Name: parcel_id, dtype: int64

In [76]:
data.loc[data['class']=='CustomerParcelPickupConfirmation']

,class,id,date_created,number,state,admission_date,max_pickup_date,ready_for_pickup_date,price_list,price_calculation_date,...,max_pickup_date_row,charge_for_pickup,update_source,update_state,size_row,pickup_code_input_method,origin_row,force_online_payment_row,attention_fragile_row,non_standard_size_row
35,CustomerParcelPickupConfirmation,59818227,2019-09-02 03:48:16.735000+00:00,0000000059575353,CONFIRMED,NaT,NaT,NaT,NaN,NaT,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False
1994,CustomerParcelPickupConfirmation,59820140,2019-09-02 04:01:30.141000+00:00,0000000059577266,CONFIRMED,NaT,NaT,NaT,NaN,NaT,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False
2236,CustomerParcelPickupConfirmation,59820382,2019-09-02 04:02:43.648000+00:00,0000000059577508,CONFIRMED,NaT,NaT,NaT,NaN,NaT,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False
2263,CustomerParcelPickupConfirmation,59820409,2019-09-02 04:02:58.413000+00:00,0000000059577535,CONFIRMED,NaT,NaT,NaT,NaN,NaT,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False
2569,CustomerParcelPickupConfirmation,59820699,2019-09-02 04:04:43.415000+00:00,0000000059577825,CONFIRMED,NaT,NaT,NaT,NaN,NaT,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1804593,CustomerParcelPickupConfirmation,61357616,2019-09-08 19:46:38.416000+00:00,0000000061107943,CONFIRMED,NaT,NaT,NaT,NaN,NaT,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False
1804606,CustomerParcelPickupConfirmation,61357627,2019-09-08 19:48:15.821000+00:00,0000000061107953,CONFIRMED,NaT,NaT,NaT,NaN,NaT,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False
1804959,CustomerParcelPickupConfirmation,61357979,2019-09-08 19:52:23.952000+00:00,0000000061108303,CONFIRMED,NaT,NaT,NaT,NaN,NaT,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False
1805971,CustomerParcelPickupConfirmation,61358988,2019-09-08 19:59:54.551000+00:00,0000000061109309,CONFIRMED,NaT,NaT,NaT,NaN,NaT,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False
1809598,CustomerParcelPickupConfirmation,61362620,2019-09-08 20:42:25.375000+00:00,0000000061112931,CONFIRMED,NaT,NaT,NaT,NaN,NaT,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False

In [68]:
data.loc[data['dtype']=='CustomerParcelPickup']

Empty DataFrame
Columns: [class, id, date_created, number, state, admission_date, max_pickup_date, ready_for_pickup_date, price_list, price_calculation_date, cash_on_delivery, cash_on_delivery_amount, dispatch_type, payment_place, child_document, point_of_service_id, courier_id, courier_company_id, recipient_customer_data_id, pos_dispatch_note_id, delivery_date, cash_on_delivery_paid, last_dispatched_from_point_of_service_id, ready_for_dispatch_date, target_state, pickup_date, origin, registered_in_transit_date, dispatch_note_created_date, last_picked_up_from_point_of_service_id, announcement_date, force_online_payment, attention_fragile, non_standard_size, confirm_trigger, ready_to_return_date, dtype, id_row, insurance_option_row, courier_conditional_admission_row, expected_admission, cash_on_delivery_row, cash_on_delivery_amount_row, dispatch_type_row, parcel_value, price_list_row, target_state_row, courier_updated_on, parcel_id, courier_company_id_row, courier_id_row, recipient_customer_data_id_row, sender_customer_data_id_row, delivery_data_id_row, payment_place_row, max_pickup_date_row, charge_for_pickup, update_source, update_state, size_row, pickup_code_input_method, origin_row, force_online_payment_row, attention_fragile_row, non_standard_size_row]
Index: []

[0 rows x 65 columns]